{% extends "admin/base_site.html" %}
{% load admin_static admin_modify i18n %}

{% block extrahead %}{{ block.super }}
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block content %}
<form enctype="multipart/form-data" action="" method="post">
{% csrf_token %}
<div>
<table>
  {{ form }}
  <tr>
    <td></td>
    <td><input type="submit" value="Upload"></td>
  </tr>
</table>
</form>

</div>
{% endblock content %}