{% extends "sculpture/display/base.html" %}

{% load filters %}
{% block title %}
Browse Sites
{% endblock %}

{% block breadcrumb %}
<li><a href="/browse">Browse</a>
{% endblock %}

{% block article_content %}
<div class="large-12 columns">
<header>
  <h1>Browse Sites</h1>
</header>

<p>Please use our index to browse sites by location name.</p>
<p class="browse-list">Filter by site name: 
  {% for initial in chars %}
  <a class="letter" href="?region={{initial}}">{{ initial }}</a>
  {% endfor %}

  {% if not region %}

  <span class="inline-pagination">

    {% if page_prev %}<a href="?page={{ page_prev }}">&laquo; Previous</a> {% else %}

    <a href="#" class="disabled">&laquo; Previous</a>
    {% endif %}

    <span class="count">Page {{ page }} of {{ num_pages }}</span>
    {% if page_next %}<a href="?page={{ page_next }}">Next &raquo;</a>
    {% else %}

    <a href="#" class="disabled">Next &raquo;</a>{% endif %}


  </span>
  {% endif %}

</p>



{% if region %}
<p><strong>Showing sites beginning with: </strong>{{region}} (<a href="/browse">show all</a>). 

  {% if region %}

  <span class="inline-pagination">

    {% if page_prev %}<a href="?region={{region}}&page={{ page_prev }}">&laquo; Previous</a> {% else %}
    <a href="#" class="disabled">&laquo; Previous</a>
    {% endif %}

    <span class="count">Page {{ page }} of {{ num_pages }}</span>
    {% if page_next %}<a href="?region={{region}}&page={{ page_next }}">Next &raquo;</a>
    {% else %}

    <a href="#" class="disabled">Next &raquo;</a>{% endif %}


  </span>
    {% endif %}

</p>
{% endif %}

	{% for site in sites %}

	<div class="browse-result">
		<div class="large-2 columns">
		<div class="restrictor browse-icon">
		{% with site.get_images_features_first as images %}
		{% if images %}
			<a href="{{ site.get_absolute_url }}">
				{{ images.0.thumbnail|safe }}
			</a>
		{% else %}
			<a href="{{ site.get_absolute_url }}">
				<img src="{{STATIC_URL}}frontend-assets/img/placeholder.png">
			</a>
		{% endif %}
		{% endwith %}
		</div>
		</div>

    <div class="meta large-10 columns">
      <header>
        <h2><a href="{{ site.get_absolute_url }}">{{site.name}}</a></h2>
        <h3><a href="{{ site.get_absolute_url }}">{{ site.title }}</a></h3></header>
      {% if site.settlement%}<strong>{{site.settlement}}</strong>{% endif %}
      <p>{{ site.description|striptags|truncatewords:25|safe }}</p>
    </div>

	</div>

	{% endfor %}

</div>


{% if region %}

<div class="pagination">
  {% if page_prev %}<a href="?region={{region}}&page={{ page_prev }}">&laquo; Previous</a> {% else %}

  <a href="#" class="disabled">&laquo; Previous</a>
  {% endif %}

  <span class="count">Page {{ page }} of {{ num_pages }}</span>
  {% if page_next %}<a href="?region={{region}}&page={{ page_next }}">Next &raquo;</a>
  {% else %}

  <a href="#" class="disabled">Next &raquo;</a>{% endif %}
</div>

{% else %}

<div class="pagination">
  {% if page_prev %}<a href="?page={{ page_prev }}">&laquo; Previous</a> {% else %}

  <a href="#" class="disabled">&laquo; Previous</a>
  {% endif %}

  <span class="count">Page {{ page }} of {{ num_pages }}</span>
  {% if page_next %}<a href="?page={{ page_next }}">Next &raquo;</a>
  {% else %}

  <a href="#" class="disabled">Next &raquo;</a>{% endif %}
</div>

{% endif %}
{% endblock article_content %}
