{% extends "sculpture/display/base.html" %}

{% block css %}
{{ block.super }}
{% if user.is_authenticated %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/tag_manager.css"/>
{% endif %}
<link rel="stylesheet" href="{{STATIC_URL}}frontend-assets/css/leaflet.css"/>
<!--[if lte IE 8]>
<link rel="stylesheet" href="{{STATIC_URL}}leaflet.ie.css"/>
<![endif]-->
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.qtip.min.css"/>

{% endblock css %}
{% block js %}
{{ block.super }}
{% if user.is_authenticated %}
<script type="text/javascript" src="{{ STATIC_URL }}js/tag_manager.js"></script>
{% endif %}
<script src="{{STATIC_URL}}frontend-assets/js/leaflet.js"></script>
<script src="{{STATIC_URL}}frontend-assets/js/typeahead.js"></script>

{% endblock js %}

{% block title %}
{{site.get_title}}
{% endblock %}

{% block breadcrumb %}
{% if previous_site or next_site %}
<li><a href="{{ search_page }}">Search Results</a>
    {% endif %}
<li><a href="{{site.get_absolute_url}}">{{site.get_title}}</a>

    {% endblock %}

    {% block article_content %}
    <div class="row">
    <div class="large-12 columns">
<header><h1>{{ site.get_title }}

</h1></header>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
        {% if site.location %}

		   		 <div id="map" style="height: 200px;"></div>

		    {% endif %}
        </div>

    </div>

    {% endblock %}

    {% block end_js %}
{{ block.super }}
{% if site.location %}
<script type="text/javascript">
    //Set map height based on window
    var h =$(window).height();
    var height = h*.70;
    $('#map').height(height);
var map = L.map('map').setView([{{ site.latitude }}, {{ site.longitude }}], 13);
var scale = L.control.scale();
scale.setPosition('topright');
scale.addTo(map);
L.tileLayer('http://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png">'
		}).addTo(map);
var marker_data = [{% for site_data in marker_data %}[{{ site_data.0 }}, '{{ site_data.1 }}', '{{ site_data.2 }}'],{% endfor %}];
var len = marker_data.length;
for (var i=0; i<len; i++) {
  var marker = L.marker(marker_data[i][0], {title: marker_data[i][1]}).addTo(map);
  marker.bindPopup('<p><a href="' + marker_data[i][2] + '">' + marker_data[i][1] + '</a></p>');
}
</script>

{% endif %}
{% endblock end_js %}