{% extends "sculpture/base.html" %}


{% block title %}
Logged Out
{% endblock %}

{% block breadcrumb %}
<li><a href="{{request.get_full_path}}">Logged Out</a>
{% endblock %}

{% block article_content %}
<div class="large-12 columns">

<header><h1>Forgotten Password</h1></header>

<p>We've emailed you instructions for setting your password. You should be receive them shortly.</p>

<p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>

</div>
{% endblock article_content %}

